body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #d3d3d3;
  font-family: 'Lexend Giga', sans-serif;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 43px;
}

h2 {
  font-size: 20px;
  padding-left: 15px;
}

h3, h4 {
  font-size: 30px;
}

p {
  font-size: 15px;
}

main {
  display: inline-flex;
  justify-content: space-around;
  align-items: baseline;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-row {
  padding-left: 15px;
  padding-right: 15px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
}

.form-row-bottom {
  justify-content: flex-end;
  margin: 10px 0;
}

.card {
  height: 80%;
  width: 32%;
  min-width: 32%;
}

.bottom-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.trip-card, .bottom-trip-card {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}

.trip-card {
  text-align: center;
  width: 90%;
  height: 500px;
}

.bottom-trip-card {
  display: inline-block;
  text-align: center;
  width: 22%;
  height: 430px;
  min-width: 22%;
  margin-left: 5px;
  margin-right: 5px;
}

.form-card {
  background-color: white;
  width: 100%;
  margin-left: 15px;
  margin-right: 20px;
  border-radius: 5px;
}

.trip-image {
  width: 360px;
  height: 210px;
}

.past-trips-image {
  width: 280px;
  height: 210px;
}

#pastTripsCardHolder, #pastTrips {
  width: 100%;
}
#pastTripsHeader, #pastTripsSpent {
  padding-left: 20px
}

#requestTripsHeader, #pastTrips {
  padding-left: 15px;
}

#requestTripsDepartureButton, #requestTripsDestinationDropdown,
#requestTripsArrivalInput, #requestTripsDepartureInput, #requestTripsTravelersInput {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px;
  border: solid 1px;
}

.card-row {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 15px;
}

.trip-card-no-content {
  height: auto;
  width: 280px;
}

.destination-name, .no-trips {
  height: 75px;
  font-size: 20px;
}

.login-form {
  /* background: url(https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: auto; */
}

.hidden {
  display: none;
}

.error {
  color: red;
}
